<ion-header>
  <ion-toolbar>
    <ion-title>Login do Usuário</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-segment value="aluno">
    <ion-segment-button value="aluno" content-id="aluno">
      <ion-label>ALUNO</ion-label>
    </ion-segment-button>
    <ion-segment-button value="motorista" content-id="motorista">
      <ion-label>MOTORISTA</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-segment-view>
    <ion-segment-content id="aluno">
      <ion-card>
        <ion-item-divider>LOGIN ALUNO</ion-item-divider>
        <ion-item>
          <ion-label position="floating">Matrícula</ion-label>
          <ion-input [(ngModel)]="matricula"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Senha</ion-label>
          <ion-input [(ngModel)]="senha" type="password"></ion-input>
        </ion-item>

        <ion-button expand="full" (click)="loginAluno()">Entrar</ion-button>
      </ion-card>

      <ion-card>
        <ion-card-content>
          <p class="text-center">Deseja se cadastrar no BusIFPI?</p>
          <br/>
          o BusIFPI é exclusivo para alunos, professores e servidores do Instituto Federal
          para usufruir dos recursos você precisa solicitar um cadastro
        </ion-card-content>
        <ion-button expand="full">SOLICITAR CADASTRO</ion-button>
      </ion-card>
    </ion-segment-content>
    <ion-segment-content id="motorista">
      <ion-card>
        <ion-item-divider>LOGIN MOTORISTA</ion-item-divider>
        <ion-item>
          <ion-label position="floating">CPF</ion-label>
          <ion-input [(ngModel)]="cpf"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Senha</ion-label>
          <ion-input [(ngModel)]="senha" type="password"></ion-input>
        </ion-item>

        <ion-button expand="full" (click)="loginMotorista()">Entrar</ion-button>
      </ion-card>
    </ion-segment-content>
  </ion-segment-view>
</ion-content>