ion-content {
    --padding-start: 2rem;
    --padding-end: 2rem;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
        margin-top: 3rem;

        h1 {
            font-size: 3rem;
            font-weight: 600;
            color: #515151;
            margin: 0;
        }

        .avatar {
            ion-avatar {
                width: 50px;
                height: 50px;
            }

            background-color: #6b45bc;
            border-radius: 50%;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            overflow: hidden;
        }
    }

    ion-item {
        --background: transparent;
        --background-color: transparent;
        --border-style: dashed;
    }

    ion-img{
        margin: 0 auto;
        width: 300px;
        height: 300px;
        border-radius: 1.8rem;
        margin-bottom: 1rem;
    }

    .list{
        margin-bottom: 1rem;
    }

    .list-header {
        font-weight: 700;
        color: #515151;
        font-size: 1.5rem;
        margin-top: 2.5rem;
    }
}