ion-content {
    --padding-start: 2rem;
    --padding-end: 2rem;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
        margin-top: 3rem;

        h1 {
            font-size: 3rem;
            font-weight: 600;
            color: #515151;
            margin: 0;
        }

        .avatar {
            ion-avatar {
                width: 50px;
                height: 50px;
            }

            background-color: #6b45bc;
            border-radius: 50%;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            overflow: hidden;
        }
    }

    .notif-content {
        margin-top: 2.5rem;

        ion-item {
            --background: transparent;
            --background-color: transparent;
            --border-style: dashed;
            margin: 5px 0 5px 0;
            font-weight: 700;

            h2 {
                font-weight: 700;
            }
        }

        p {
            font-size: 0.7rem;
        }

    }

    .logoff {
        font-weight: 700;
        color: var(--ion-color-danger);
    }
}

.modal-mini-bug {
    --width: 350px;
    --height: 460px;
    --border-radius: 20px;
    --backdrop-opacity: 0.4;
    --box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
}

.modal-mini-bug::part(content) {
    border-radius: 20px;
    padding: 20px;
}

.modal-bug-content {
    p {
        font-weight: 700;
        font-size: 0.8rem;
        text-align: center;
        margin: 1rem;
    }

    ion-item {
        --background: transparent;
        --background-color: transparent;
        --border-style: dashed;
        margin: 5px 0 5px 0;
        font-weight: 700;

        .filename {
            font-size: 0.5rem;
        }
    }

    .modal-form-content {
        margin: 1rem;
    }
}