<ion-content>
  <div class="header">
    <h1>Opções</h1>
    <div class="avatar">
      <ion-avatar>
        <ion-img src="https://t.ctcdn.com.br/OWaqJSGgQH8eormYpwYDF3LE22U=/768x432/smart/i529206.png"></ion-img>
      </ion-avatar>
    </div>
  </div>

  <div class="notif-content">
    <ion-item-group>
      <ion-item [detail]="true" [button]="true" id="modal-bug">
        <ion-icon slot="start" name="bug"></ion-icon>
        <ion-label>
          <h2>Relatar Erros</h2>
          <p>Encontrou algum erro? Reporte</p>
        </ion-label>
      </ion-item>
      <ion-item [detail]="true" [button]="true" id="open-modal-sobre">
        <ion-icon slot="start" name="information-circle"></ion-icon>
        <ion-label>
          <h2>Sobre</h2>
          <p>Sobre o desenvolvimento</p>
        </ion-label>
      </ion-item>
      <ion-item [detail]="true" [button]="true">
        <ion-icon slot="start" name="exit"></ion-icon>
        <ion-label>
          <h2 class="logoff">Sair</h2>
          <p>Fazer logoff do aplicativo</p>
        </ion-label>
      </ion-item>
    </ion-item-group>
  </div>

  <ion-modal id="modalBug" trigger="modal-bug" class="modal-mini-bug">
    <ng-template>
      <form [formGroup]="reportForm" (ngSubmit)="saveReport()">
        <div class="modal-bug-content">
          <ion-item lines="none">
            <ion-label>
              <ion-text>Reportar erros</ion-text>
            </ion-label>
            <ion-buttons slot="end">
              <ion-button slot="icon-only" (click)="closeModal()">
                <ion-icon name="close" color="danger"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-item>
          <div class="modal-form-content">
            <ion-item>
              <ion-input formControlName="title" label="Título:" labelPlacement="floating">
                <ion-icon name="bug" slot="start"></ion-icon>
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-textarea formControlName="desc" label="Descreva o erro:" labelPlacement="floating"
                [autocapitalize]="true" rows="5">
                <ion-icon name="pencil" slot="start"></ion-icon></ion-textarea>
            </ion-item>
            <p>Captura de Tela: Caso ache necessário, você pode anexar uma captura de
              tela para ajudar a nossa equipe de desenvolvimento a solucionar o problema</p>
            <ion-item>
              <ion-button (click)="triggerFileInput()" slot="start">
                <ion-icon name="cloud-upload"></ion-icon>
              </ion-button>
              @if(selectedFileName){ <p class="filename">{{selectedFileName}}</p> }
            </ion-item>
          </div>
        </div>
        <input #fileInput type="file" id="fileInput" accept="image/*,.heic,.heif" hidden
          (change)="fileSelected($event)">
        <ion-button type="submit" [disabled]="!reportForm.valid" expand="block">ENVIAR RELATÓRIO</ion-button>
      </form>
    </ng-template>
  </ion-modal>
</ion-content>