<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Notice
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-segment [(ngModel)]="segmentValue">
      <ion-segment-button value="create">
        <ion-label>Criar</ion-label>
      </ion-segment-button>
      <ion-segment-button value="view">
        <ion-label>Avisos</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-card>

  <div *ngIf="segmentValue === 'create'">
    <div class="text">
      <ion-text>
        Use os botões abaixo para emitir um aviso personalizado!<br />
        <br />
        Ao emitir um aviso todos os usuários receberão uma notificação via push
      </ion-text>
    </div>
    <ion-card>
      <ion-item button detail="true" (click)="sendNotificationImprevisto()">
        <ion-icon slot="start" name="construct"></ion-icon>
        Pneu furado
      </ion-item>
      <ion-item button lines="none" detail="true" (click)="createNotificationNoRoute()">
        <ion-icon slot="start" name="warning"></ion-icon>
        Não haverá rota
      </ion-item>
    </ion-card>
  </div>

  <div *ngIf="segmentValue === 'view'">
    <ng-container *ngFor="let group of groupedNotifications; index as i">
      <ion-item-divider>{{ group.date | date:'dd/MM/yyyy' }}</ion-item-divider>

      <ng-container *ngFor="let x of group.items; index as j">
        <ion-card>
          <ion-item lines="none" class="full-img-item" [detail]="true" button>
            <ion-icon *ngIf="x.tipo === 'inicio_rota'" color="success" name="map" slot="start"></ion-icon>
            <ion-icon *ngIf="x.tipo === 'fim_rota'" color="danger" name="map" slot="start"></ion-icon>
            <ion-icon *ngIf="x.tipo === 'imprevisto'" color="warning" name="alert" slot="start"></ion-icon>
            <ion-icon *ngIf="x.tipo === 'noroute'" color="danger" name="close" slot="start"></ion-icon>

            <ion-label class="item-label">
              <ng-container *ngIf="x.tipo === 'inicio_rota'">
                <h2>Rota Iniciada!</h2>
                <p class="date">{{ x.timestamp.toDate() | date:'dd/MM/yyyy - HH:mm' }}</p>
              </ng-container>
              <ng-container *ngIf="x.tipo === 'fim_rota'">
                <h2>Rota Encerrada!</h2>
                <p class="date">{{ x.timestamp.toDate() | date:'dd/MM/yyyy - HH:mm' }}</p>
              </ng-container>
              <ng-container *ngIf="x.tipo === 'imprevisto'">
                <h2>Houve um imprevisto!</h2>
                <p class="date">{{ x.timestamp.toDate() | date:'dd/MM/yyyy - HH:mm' }}</p>
              </ng-container>
              <ng-container *ngIf="x.tipo === 'noroute'">
                <h2>Não haverá rota!</h2>
                <p class="date">{{ x.timestamp.toDate() | date:'dd/MM/yyyy - HH:mm' }}</p>
              </ng-container>
            </ion-label>
          </ion-item>
        </ion-card>
      </ng-container>
    </ng-container>
    <div class="load-more" *ngIf="hasMore">
      <ion-button fill="clear" expand="block" (click)="loadMore()">
          Carregar mais...
        </ion-button>
    </div>
  </div>
</ion-content>