<ion-content>
  <div class="header">
    <h1>BusIFPI</h1>
    <div class="avatar">
      <ion-avatar>
        <ion-img src="https://t.ctcdn.com.br/OWaqJSGgQH8eormYpwYDF3LE22U=/768x432/smart/i529206.png"></ion-img>
      </ion-avatar>
    </div>
  </div>
  
  <ion-item>
    <h1 class="list-header">Mapa de Rota</h1>
  </ion-item>

  <div class="mapa">
    <div #map id="map"></div>
  </div>
  
  <ion-item>
    <h1 class="list-header">Iniciar uma Rota</h1>
  </ion-item>
  <div class="routes">
    <ion-item-group>
      <ion-item [detail]="true" [button]="true">
        <ion-icon name="business" slot="start"></ion-icon>
        <ion-label>
          <ion-text>Rota IFPI</ion-text>
        </ion-label>
        <ion-text class="end" slot="end">
          08KM
        </ion-text>
      </ion-item>
      <ion-item [detail]="true" [button]="true">
        <ion-icon name="bus" slot="start"></ion-icon>
        <ion-label>
          <ion-text>Rota WAGNER</ion-text>
        </ion-label>
        <ion-text class="end" slot="end">
          10KM
        </ion-text>
      </ion-item>
    </ion-item-group>
  </div>
</ion-content>