ion-header {
  ion-toolbar {
    --padding-start: 16px;
    --padding-end: 16px;

    ion-title {
      max-width: 40vh;

      ion-label {
        ion-text {
          font-size: 1rem;
        }

        p {
          ion-text {
            font-size: 1.0rem !important;
          }
        }
      }
    }

    ion-avatar {
      height: 2.5rem;
      width: 2.5rem;
      border: 1px solid var(--ion-color-tertiary);

      img {
        max-width: 100%;
      }
    }
  }
}

ion-content {
  ion-row.div-map {
    position: relative;
    padding: 1.5rem;
    height: 52vh;
    background: #fff;
    border-radius: 1.5rem;
    margin: 1.2rem 1rem 1rem 1rem;
  }

  ion-card{
    border-radius: 1.5rem;
    margin: 1.2rem 1rem 1rem 1rem;
  }
}

ion-item-group {
  padding: 0 3.5vh;

  ion-item {
    --background: transparent;
    --border-style: dashed;
    --padding-start: 0;

    ion-text[slot="end"] {
      font-size: 12px;
    }

    p {
      font-size: 12px;
    }
  }
}