ion-content {
  --padding-start: 2rem;
  --padding-end: 2rem;

  .mapa{
    border: 1px solid whitesmoke;
    width: 100%;
    height: 50%;
    border-radius: 1.8vh;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 3rem;

    h1 {
      font-size: 3rem;
      font-weight: 600;
      color: #515151;
      margin: 0;
    }

    .avatar {
      ion-avatar {
        width: 50px;
        height: 50px;
      }

      background-color: #6b45bc;
      border-radius: 50%;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      overflow: hidden;
    }
  }

  ion-item {
    --background: transparent;
    --background-color: transparent;
    --border-style: dashed;
  }

  .list-header {
    font-weight: 700;
    color: #515151;
    font-size: 1.5rem;
    margin-top: 2.5rem;
  }

  .routes {
    ion-label {
      color: #515151;

      ion-text {
        color: #515151;
        font-size: 1rem;
        font-weight: 700;
      }
    }

    .end {
      color: #515151;
      font-size: 1rem;
      font-weight: 700;
    }
  }

  #map {
    width: 100%;
    height: 100%;
    border-radius: 1.8vh;
  }
}