<ion-content fullscreen>

  <div class="header">
    <h1>Avisos</h1>
    <div class="avatar">
      <ion-avatar>
        <ion-img src="https://t.ctcdn.com.br/OWaqJSGgQH8eormYpwYDF3LE22U=/768x432/smart/i529206.png"></ion-img>
      </ion-avatar>
    </div>
  </div>

  <div class="notif-content">

    <ng-container *ngIf="loading">
      <ion-item-divider>
        <ion-skeleton-text animated style="width: 120px;"></ion-skeleton-text>
      </ion-item-divider>

      <div *ngFor="let x of [1,2,3,4,5,6,7,8,9,10]">
        <ion-item class="full-img-item">
          <ion-icon slot="start">
            <ion-skeleton-text animated style="width: 24px; height: 24px; border-radius: 50%;"></ion-skeleton-text>
          </ion-icon>

          <ion-label>
            <h2><ion-skeleton-text animated style="width: 160px;"></ion-skeleton-text></h2>
            <p><ion-skeleton-text animated style="width: 100px;"></ion-skeleton-text></p>
          </ion-label>
        </ion-item>
      </div>
    </ng-container>

    <ng-container *ngIf="!loading">
      <div *ngFor="let group of groupedNotifications; index as i">

        <ion-item-divider>
          {{ group.date | date:'dd/MM/yyyy' }}
        </ion-item-divider>

        <div *ngFor="let x of group.items; index as j">
          <ion-item class="full-img-item" [detail]="true" button>

            <ion-icon *ngIf="x.tipo === 'inicio_rota'" color="success" name="map" slot="start"></ion-icon>
            <ion-icon *ngIf="x.tipo === 'fim_rota'" color="danger" name="map" slot="start"></ion-icon>
            <ion-icon *ngIf="x.tipo === 'imprevisto'" color="warning" name="alert" slot="start"></ion-icon>
            <ion-icon *ngIf="x.tipo === 'noroute'" color="danger" name="close" slot="start"></ion-icon>

            <ion-label class="item-label">
              <div *ngIf="x.tipo === 'inicio_rota'">
                <h2>Rota Iniciada!</h2>
                <p class="date">{{ x.timestamp.toDate() | date:'dd/MM/yyyy - HH:mm' }}</p>
              </div>

              <div *ngIf="x.tipo === 'fim_rota'">
                <h2>Rota Encerrada!</h2>
                <p class="date">{{ x.timestamp.toDate() | date:'dd/MM/yyyy - HH:mm' }}</p>
              </div>

              <div *ngIf="x.tipo === 'imprevisto'">
                <h2>Houve um imprevisto!</h2>
                <p class="date">{{ x.timestamp.toDate() | date:'dd/MM/yyyy - HH:mm' }}</p>
              </div>

              <div *ngIf="x.tipo === 'noroute'">
                <h2>Não haverá rota!</h2>
                <p class="date">{{ x.timestamp.toDate() | date:'dd/MM/yyyy - HH:mm' }}</p>
              </div>
            </ion-label>

          </ion-item>
        </div>

      </div>
    </ng-container>

    @if(hasMore){
    <div class="more">
      <ion-label>
        <ion-text>Arraste para carregar mais...</ion-text>
      </ion-label>
    </div>
    }

  </div>

  <ion-infinite-scroll (ionInfinite)="loadMore($event)" threshold="100px">
    <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Carregando mais notificações...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-modal trigger="open-modal" [initialBreakpoint]="1" [breakpoints]="[0, 1]">
    <ng-template>
      <div class="block">
        <h2>Emitir Aviso</h2>
        <p class="aviso">Todos os alunos com o BusIF instalado receberão uma notificação!</p>
        <ion-item-group>
          <ion-item [detail]="true">
            <ion-icon slot="start" name="thumbs-down"></ion-icon>
            <ion-label>
              <p>Não haverá rota</p>
            </ion-label>
          </ion-item>
          <ion-item [detail]="true">
            <ion-icon slot="start" name="construct"></ion-icon>
            <ion-label>
              <p>Pneu furado</p>
            </ion-label>
          </ion-item>
        </ion-item-group>
      </div>
    </ng-template>
  </ion-modal>

</ion-content>

<ion-fab horizontal="end" vertical="bottom">
  <ion-fab-button color="warning" id="open-modal">
    <ion-icon class="large-icon" name="warning"></ion-icon>
  </ion-fab-button>
</ion-fab>