/* REMOVE o ion-content { ... } 
   Tudo deve ficar solto aqui no root!
*/

:host {
  ion-content {
    --padding-start: 2rem;
    --padding-end: 2rem;
  }
}

/* Cabeçalho */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 3rem;

    h1 {
        font-size: 3rem;
        font-weight: 600;
        color: #515151;
        margin: 0;
    }

    .avatar {
        ion-avatar {
            width: 50px;
            height: 50px;
        }

        background-color: #6b45bc;
        border-radius: 50%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        overflow: hidden;
    }
}

/* Divisor de data */
ion-item-divider {
    font-weight: 700;
}

/* Área das notificações */
.notif-content,
.notifications {
    padding-bottom: 80px;  /* ESPAÇO para o infinite scroll aparecer */
}

.notif-content ion-item {
    --background: transparent;
    --background-color: transparent;
    --border-style: dashed;
    margin: 5px 0;
    font-weight: 700;

    h2 {
        font-weight: 700;
    }

    .date {
        color: #515151;
    }

    ion-icon, 
    .large-icon {
        font-size: 1.5rem;
    }
}
