:host {
    ion-content {
        --padding-start: 2rem;
        --padding-end: 2rem;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 3rem;

    h1 {
        font-size: 3rem;
        font-weight: 600;
        color: #515151;
        margin: 0;
    }

    .avatar {
        ion-avatar {
            width: 50px;
            height: 50px;
        }

        background-color: #6b45bc;
        border-radius: 50%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        overflow: hidden;
    }
}

ion-item-divider {
    font-weight: 700;
}

.notif-content,
.notifications {
    padding-bottom: 80px;
}

.notif-content ion-item {
    --background: transparent;
    --background-color: transparent;
    --border-style: dashed;
    margin: 5px 0;
    font-weight: 700;

    h2 {
        font-weight: 700;
    }

    .date {
        color: #515151;
    }

    ion-icon,
    .large-icon {
        font-size: 1.5rem;
    }
}

.more {
    color: #515151;
    font-weight: bold;
    text-align: center;
    margin: 1rem;
}


ion-modal {
    --height: auto;

    .icon-center{
        font-size: 3rem;
        display: flex;
        justify-content: center;
    }

    .block {

        ion-item {
            --background: transparent;
            --background-color: transparent;
            --border-style: dashed;
        }

        width: 100%;
        height: 350px;
        align-items: center;
        justify-content: center;

        h2 {
            font-size: 2rem;
            font-weight: 700;
            color: #515151;
            margin: 1rem;
            text-align: center;
        }

        .aviso {
            font-size: 1rem;
            font-weight: 700;
            color: #515151;
            text-align: center;
        }
    }
}

.modal-mini {
    --width: 300px;
    --border-radius: 20px;
    --backdrop-opacity: 0.4;
    --box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);

    //display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal-mini::part(content) {
    border-radius: 20px;
    padding: 20px;
}

.more{
    font-size: 2.5rem;
}